*{
    margin: 0;
    padding: 0;
}
.container{
    height: auto;
    border: 10px solid goldenrod;
}
/* headind part */
.heading{
    display: flex;
    justify-content: center;
    height:70vh;
    border: 2px solid greenyellow;
    background: rgb(26,33, 51);
}
/* heading text div */
.headingtext{
    display: flex;
    flex-direction: column;
    width: 50%;
    
    color: #fff;
}
.logo{
   
    padding: 40px;
    font-size: 24px;
}
.digital {
    padding: 40px;
}
.digital h1{
    font-family: 'Anton', sans-serif;
    font-size: 37px;
    font-weight: lighter;
    letter-spacing: 3px;
}
.digital p{
    font-family: sans-serif; 
    font-size: 17px;
    font-weight: lighter;
}
.headingNewsLetter{
    
    padding: 40px;
}
.headingNewsLetter p{
    font-family: sans-serif; 
    font-size: 17px;
}
.headingNewsLetter input[type=text]{
    padding: 12px 20px;
    width: 45%;
    border-radius: 4px;
}
.headingNewsLetter input[type=submit] {
    background: blue;
    /* background-color: #4CAF50; */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
/* heading image div */
.headingImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    position: relative;

}
.bigCircle{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid black;
    background: rgb(51,64,83);
    text-align: center;
    color: #fff;
    justify-content: center;
    align-items: baseline;
}
.name{
    position: absolute;
    top: 68%;
    left: 30%;
}
.smallCircle{
    position: absolute;
    width: 150px;
    height: 150px;
    
    border-radius: 50%;
    top: 15%;
    left: 25%;
    background: #fff  url(img/person.png)  no-repeat center center / cover ;
}
.bigYellow{
    position: absolute;
    background: yellow;
    /* background: rgb(255,155,33); */
    height: 40px;
    width: 40px;
    transform: rotate(30deg);
    top: -10%;
    left: 25%;
}
.smallYellow{
    position: absolute;
    height: 25px;
    width: 25px;
    background: yellow;
    top: 85%;
    left: 15%;
    transform: rotate(30deg);
}
.smallBlue{
    height: 18px;
    width: 18px;
    background: blue;
    position: absolute;
    top: 10%;
    left: 70%;
}
.bigBlue{
    position: absolute;
    height: 22px;
    width: 50px;
    background: blue;
    border-radius: 50%;
    top: 96%;
    left: 70%;
    border-radius: 150px 150px 0 0;
}

/* content div */
.content{
    height: auto;
    border: 2px solid hotpink;
    background: #fff;
    
}
.item{
    border: 5px rgb(133, 13, 13);
}

.newsLetter{
    height: 10vh;
    border: 2px solid rgba(63, 34, 34, 0.8);
}
.footer{
    height: 10vh;
    border: 2px solid rgba(22, 50, 209, 0.8);
}