*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
/* ----container---- */
.container{
    display: flex;
    height: 100vh;
    border:10px solid goldenrod ;
    
}

/* ----items---- */
.imagecontainer{
   
    border: 3px solid greenyellow;
 
}   
.flip-box-front{
    position: relative;
    background: url(/img-flip/img/06.jpg) no-repeat center center / cover ;
    border: 1px solid red;
    height: 50vh;
    width: 60vh;
}
.flip-box-front:hover .flip-box-back{
    position: absolute;
    rotate: 180;
}