*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,p{
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Fruktur', cursive;
}
.container{
   
    height: auto;
    border: 10px solid goldenrod;
    
}
/* ----cover div-------- */
ion-icon {
    color: red; 
    /* background: yellow; */
  }
.cover{
    height: 90vh;
    position: relative;
    background: url(img/cover.jpg)  no-repeat center center / cover;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}
.coverdetails{
    position: absolute;
    top: 25%;
    left: 50%;
    color: #fff;
    /* background: rgb(18, 219, 62); */
    padding: 25px;

}
#head{
    font-weight: bolder;
}
.coverdetails h2{
   font-family:  Fantasy;
   letter-spacing: 0px;
   font-size: 40px;
}
.coverdetails p{
 font-family:Helvetica, sans-serif;
 padding: 5px;
}
#price{
    font-weight: bolder;
    /* font-size: 10px; */
    padding: 10px;
}
.coverdetails input[type=button]{
    padding: 8px;
    font-family:  Fantasy;
    background:rgb(6,186,180);
    color: #fff;
    border-radius: 4px;
    border: 1px solid #fff;
}

/* ---featureCompany div---- */
.featureCompany{
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    
}
.companyNames{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
/* ----products div----- */
.products{
     display: flex; 
     justify-content: space-around; 
     /* border: 1px solid red; */
     height: auto;
     
}

 .product_p1,
 .product_p2,
 .product_p3{
     height: auto;
     margin: 10px;
 }
.pimg1{
    height: 30vh;
    background: url(img/product1.jpg) no-repeat center center / cover; 
    border: 1px solid blue;
}
.pimg2{
    height: 30vh;
    background: url(img/product2.jpg) no-repeat center center / cover; 
    border: 1px solid blue;
}
.pimg3{
    
    height: 30vh;
    background: url(img/product3.jpg) no-repeat center center / cover; 
    border: 1px solid blue;
}
.pimgdetail{
    text-align: center;
    padding: 20px;
}
/* ----feature div--- */

.features{
    height: auto;
    border: 5px solid rgb(4, 8, 4);
}
.feature_f1{
    /* border: 1px solid red; */
       height: auto;
       background: #fff;
    }
 .bigfeature_1{
    /* position: relative; */
    height: 50vh;
    background: url(img/feature\ \(2\).jpg) no-repeat center center / cover;
} 
.smallfeature_1{
    position: absolute;
    background: #fff;
    top: 160%;
    left: 58%;
    width: 40%;
    height: 35%;
    border-radius: 4px;
    padding: 30px;
}
.feature_f2{
 /* border: 1px solid red; */
    height: auto;
    background: #fff;
 }
.bigfeature_2{
    background: #fff;
    color: black;
    padding: 30px;
    height: 50vh; 
    width: 55%;
}
.smallfeature_2{
    position: absolute;
    top: 214%;
    left: 58%;
    width: 40%;
    height: 35%;
    border-radius: 4px;
    padding: 30px;
    background: url(img/feature2.jpg) no-repeat center center / cover;
}
.bigfeature_2 input[type=button]{
    padding: 8px;
    font-family:  Fantasy;
    background:rgb(6,186,180);
    color: #fff;
    border-radius: 4px;
    border: 1px solid #fff;
}
.feature_f3{
    height: auto;
}
.bigfeature_3{
     width: 100%;
     height: 50vh;  
    background: url(img/feature3.jpg) no-repeat center center / cover;
}
.smallfeature_3{
    position: absolute;
    background: #fff;
    top: 265%;
    left: 58%;
    width: 40%;
    height: 35%;
    border-radius: 4px;
    padding: 30px;
}
.smallfeature_3 input[type=button]{
    padding: 8px;
    font-family:  Fantasy;
    background:rgb(6,186,180);
    color: #fff;
    border-radius: 4px;
    border: 1px solid #fff;
}

/* ----feedback------ */

.feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* height: auto; */
    /* border: 5px solid red; */
    padding:20px ;
    
}
.sub_feedback{
    width: 80%;
    /* border: 2px solid gold; */
}
.feedback_Head{
    /* border: 1px solid blue; */
    padding: 20px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.feebback_review{
    /* border: 1px solid red; */
    padding: 25px;
}
.review{
    /* border: 1px solid rgb(176, 192, 176); */
    background: #fff;
    
}
.review h2{
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
.review p{
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
.personImg_1{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url(img/person1-kat.png) no-repeat  center center / cover;
}
.personImg_2{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url(img/person2-john-smith.png) no-repeat  center center / cover;
}
.personImg_3{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: url(img/person3-jane-doe.png) no-repeat  center center / cover;
}
.reviewPerson{
    display: flex;
    /* border:1px solid red ; */
}
.person_name_address > :first-child {
    font-weight: bold;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    
}

/* ----product bundle div---- */
.productBundle{
     /* border: 5px solid rgb(144, 151, 184);  */
     display: flex;
     height: auto;
     align-items: center;
     justify-content: center;
}
.sub_productBundle{
    width: 70%;
    border: 2px solid silver;
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
}
.bundleimg{
    background: url(img/product_Bundle.jpg) no-repeat  center center / cover;
    width: 50%;
    height: 200px;
}
.bundleDetails{
    border:1px solid  silver;
}
.bundle_icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* -----FAQ div---------- */
.faq{
    display: flex;
    height: auto;
    justify-content: center;
}
.sub_faq{
    width: 60%;
    /* border: 3px solid silver; */
}
.faq_1,
.faq_2{
    padding: 10px;
}
.faq_head{
    text-align: center;
    padding: 30px;
}
.faq_1_head,
.faq_2_head{
    display: flex;
    /* border: 1px solid red; */
}
.faq_1_head_text,
.faq_2_head_text{
    /* border: 1px solid red; */
    width: 60%;
    
}
.faq_1_head_hr,
.faq_2_head_hr{
    /* border: 1px solid red; */
    width: 40%;
}


.faq_1_body
.faq_2_body{
    border: 1px solid red;
    text-align: justify;
    
}
.faq_1_body p,
.faq_2_body p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


/* ----footer div---- */
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    background: black;
    color: #fff;
}
.footeritem ul li{
    display: inline;
    padding: 0 10px;
    
}
.footeritem ul li a{
    color: #fff;
}

.socialMedia ul li{
    display: inline;
    padding: 0 5px;
}
.socialMedia ul li a{
    color: #fff;
}