*{
    margin: 0;
    padding: 0;
}
.container{
    height: auto;
    border: 10px solid goldenrod;
}
.cover{
    height: 80vh;
    width: 100vw;
    background: url(img/Cover_3\(1600x600\).jpg) no-repeat center center / cover;
}
/* ---header div------ */
.header_div{
    /* border: 5px solid white ; */
    display: flex;
    height: 7vh;
    align-items: flex-end;
    
}
.logo_div{
    display: flex;
    width: 40vw;
    /* border: 1px solid red; */
    color: #fff;
    margin-left: 10%;
    text-transform: uppercase;
}
/* -----menu div---- */
.menu_div{
    width: 60vw;
    /* border: 1px solid red; */
    color: #fff;
    display: flex; 
    align-items: center; 
    
}
.menu_div ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style-type: none;
    color: #fff;
   
}
 .menu_div li{
    display: inline; 
    justify-content: space-around;
    /* border: 1px solid red; */
    
 }
.menu_div a{
   color: #fff;
   text-decoration: none;
   text-align: center;
   text-transform: uppercase;
   /* border: 1px solid blue; */
}

/* -----cover_text_div---- */
.cover_text_div{
    border: 1px solid red;
    position: absolute;
    top: 40%;
    left: 8%;
    width: 35%;
    color: #fff;
}
